<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.2.xsd ">
    
    <!-- 配置 rest client node节点信息  -->
    <bean name="clusterNode" class="com.mjbmall.elasticsearch.core.ClusterNode">
    	<constructor-arg name="hosts">
    		<list>
    			<value>192.168.100.128:9200</value>
				<!--<value>192.168.1.117:9200</value> -->
    		</list>
    	</constructor-arg>
    </bean>
    
    <!-- 将node节点 通过构造器注入 template  -->
    <bean name="templateRepository" class="com.mjbmall.elasticsearch.core.TemplateRepository" scope="prototype">
    	<constructor-arg name="clusterNode" ref="clusterNode"/>
    </bean>
    
</beans>